body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: inline;
  margin-right: 20px;
}

nav ul a {
  text-decoration: none;
  color: white; /* Change color to white */
}

header {
  background-color: #00796b;
  color: white;
  text-align: center;
  padding: 1em 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.intro {
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#start-btn {
  background-color: forestgreen;
  color: white;
}

#stop-btn {
  background-color: #d32f2f;
  color: white;
}

button:hover:not(:disabled) {
  box-shadow: 0 0 10px rgba(0, 136, 209, 0.7);
}

.output {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}
